@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  --ui-primary: #59168b;
  --ui-secondary: #16a34a;
}

body {
  @apply h-screen;
}

#__nuxt {
  @apply h-full
}

